@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background-color: #f3f3f3;
}

a{
    color: #333333;
}
.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.card__header{
    display: flex;
    height: 90px;
    background-color: #8a2be2;
}

.card__body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

.card__tags{
    width: 100%;
    display: flex;
    list-style: none;
    margin-bottom: 15px;
}

.card__tags_item{
    font-size: 12px;
    padding: 3px;
    background-color: #ccc;
    border-radius: 5px;
}

.card__tags_item--highlight{
    font-weight: bold;
    background-color: #a1a1a1;
}

.card__tags_item:hover{
    background-color: rgb(224, 224, 224);
}

.card__tags_item--middle{
    margin: 0 10px;
}

.card__description{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 15px;
}

.card__button{
    width: 125px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #559107;
    color: #fff;
    cursor: pointer;
}

.card__button:hover{
    background-color: #69a021;
}